body {
    background: linear-gradient(to right, #003973, #e5e5be);
}

.header, .footer{
    
    padding: 10px;
    background: linear-gradient(to right, #16222a, #3a6073) !important;
}
.header{
    box-shadow: 0px 4px 10px #3a313f;
}

.footer{
    box-shadow: 0px 0px 20px 5px #3a313f;
}

h1,h2, h3{
    /* font-family: 'Satisfy', cursive, sans-serif !important; */
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #ffffffff;
    
}


.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



input {
    border-radius: 30px !important;
    border: #ffffffff;
    margin: 0% !important;
}

button{
    border-radius: 30px !important;
}

.form {
    margin: 3% 5% 5px;
}

.table{
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 70% !important;
    
}


th {
    background-color: #097950;
    color: white;
}

tr{
    background-color: aliceblue;
}

th, td {
    padding: 10px;
    text-align: center;
}

.footer-text{
    bottom: 0;
    right: 0;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }

    hr {
        display: block;
    }
}

@media (min-width: 800px) {
    .item{
        width: 330px;
    }
}